.title {
  text-align: center;
  padding: 10px;
}

#main-title {
  background-color: #00c2c7;
  color: #FFFFFF;
  letter-spacing: 3px;
  word-spacing: 5px;
}

#main-title > h2 {
  font-weight: 900;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
